extends ../../../pug/layouts/main

block variables
    - var title = "Gallery"

block content
    // MAIN SECTION
    main.gallery
        section.section-gallery
            .section-inner
                .section-gallery__wrapper
                    .section-gallery__header
                        h1.page-title Discover more food
                        //- .select-wrapper
                        .select-container
                            select#perpage.select(name='perpage-select')
                                option( 
                                    selected='true', 
                                    disabled='true'
                                ) Photos per page
                                option(value='10') 10
                                option(value='20') 20
                                option(value='30') 30
                    // close .section-gallery__header
                    .categories-navigation
                        ul#categoriesNav.nav
                            li
                                span.link-default.link-default--mod(data-key="pasta") Pasta
                            li
                                span.link-default.link-default--mod(data-key="pizza") Pizza
                            li
                                span.link-default.link-default--mod(data-key="salad") Salad
                            li
                                span.link-default.link-default--mod(data-key="soup") Soup
                            li
                                span.link-default.link-default--mod(data-key="sandwich") Sandwich
                            li
                                span.link-default.link-default--mod(data-key="juice") Juice
                            li
                                span.link-default.link-default--mod(data-key="tea") Tea
                            li
                                span.link-default.link-default--mod(data-key="coffee") Coffee
                    // close .categories-navigation
                    #galleryContainer.section-gallery__container
                    // close .section-gallery__container
                    #loaderGallery.loader
                        .ball-clip-rotate.mod
                            div
                    // close .loader
                    #galleryPagination.pagination
                        .pagination__wrapper
                            button.btn.btn--secondary
                                i.ico-pr.fas.fa-chevron-left
                                span(data-page="prev") Prev
                            span#currentPage.currentpage 1
                            button.btn.btn--secondary
                                span(data-page="next") Next
                                i.ico-pl.fas.fa-chevron-right
                    // close .pagination