extends ../../../pug/layouts/main

block variables
    - var title = "Gallery"

block content
    // MAIN SECTION
    main.gallery
        section.section-gallery
            .section-inner
                .section-gallery__wrapper
