.gallery {
    background-color: $space-color;

}

.section-gallery {
    min-height: 100vh;
    padding: 80px 0px 150px 0px;
    position: relative;
    &__title {
        color: $default-color;
        font-size: 42px;
        font-weight: 700;
    }
    &__container {
        column-count: 3;
        column-gap: 20px;
        &-post {
            margin-bottom: 20px;
            background-color: $neutral-placeholder;
            width: 100%;
        }
    }

}

.categories-navigation {
    // padding-top: 80px;
    margin: 40px 0px;
    .nav {
        display: flex;
        justify-content: space-around;
    }
}