extends ../../../pug/layouts/main

block variables
    - var title = "Gallery"

block content
    // MAIN SECTION
    main.gallery
        section.section-gallery
            .section-inner
                .section-gallery__wrapper
                    h1.section-gallery__title Discover more food
                    .categories-navigation
                        ul#categoriesNav.nav
                            li
                                span.link-default.link-default--mod(data-key="pasta") Pasta
                            li
                                span.link-default.link-default--mod(data-key="pizza") Pizza
                            li
                                span.link-default.link-default--mod(data-key="salad") Salad
                            li
                                span.link-default.link-default--mod(data-key="soup") Soup
                            li
                                span.link-default.link-default--mod(data-key="sandwich") Sandwich
                            li
                                span.link-default.link-default--mod(data-key="juice") Juice
                            li
                                span.link-default.link-default--mod(data-key="tea") Tea
                            li
                                span.link-default.link-default--mod(data-key="coffe") Coffe
                    // close .categories-navigation
                    #gallery-container.section-gallery__container
                    // close .section-gallery__container
                    #loaderGallery.loader
                        .ball-clip-rotate.mod
                            div
                    // close .loader

