extends ../../../pug/layouts/main

block variables
    - var title = "Gallery"

block content
    // MAIN SECTION
    main.gallery
        section.section-gallery
            .section-inner
                .section-gallery__wrapper
                    .categories-navigation
                        ul.nav
                            li
                                span(data-key="food") Food
                            li
                                span(data-key="drink") Drink
                    //- close .categories-navigation
                    #gallery-container.section-gallery__container

