@import "utils/libs";
@import "utils/variables";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

@import "./components/header.scss";
@import "./components/buttons.scss";
@import "./components/overlay.scss";
@import "./components/modals.scss";

// common styling
body {
  font-family: $mainFontExtra;
  font-size: $mainFontSize;
}

.section-inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.items-wrapper {
  display: flex;
  align-items: center;
}

.c-default {
  color: $default-color;
}

.input-field {
  width: 100%;
  font-size: 14px;
  color: $neutral-primary;
  // border: none;
  // width: 100%;
  // outline: none;
  background: none;
  // padding: 0 5px;
  height: 40px;
  border-bottom: 2px solid $neutral-secondary;
}
