@import "utils/libs";
@import "utils/variables";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

@import "./components/header.scss";
@import "./components/buttons.scss";
@import "./components/overlay.scss";

// common styling
body {
  font-family: $mainFontExtra;
  font-size: $mainFontSize;
}

.section-inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.items-wrapper {
  display: flex;
  align-items: center;
}

.c-default {
  color: $default-color;
}
