{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb/base"],
  "rules": {
    // "max-len": [{ "ignoreUrls": true }],
    "indent": [2, "tab"],
    "no-tabs": 0,
    "linebreak-style": 0,
    "no-console": "off"
  }
}
