{
  // "parser": "babel-eslint",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript/base"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "class-methods-use-this": 0,
    "linebreak-style": 0,
    "no-console": "off",
    "no-undef": 0,
    "consistent-return": [
      "error",
      {
        "treatUndefinedAsUnspecified": true
      }
    ],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "@typescript-eslint/indent": [
      "error",
      "tab"
    ],
    "indent": 0,
    "no-tabs": 0,
    "max-len": [
      2,
      {
        "code": 150,
        "ignoreComments": true,
        "ignoreUrls": true
      }
    ]
  }
}