mixin auth-modal
    // SIGN IN MODAL
    .overlay.overlay-items-centered
        .modal
            .modal__header
                h2.modal__header-title
                    | Login
                .modal__header-social
                    span Log with
            .modal__body
                // FORM
                form.form.form-auth
                    .form__item
                        input.input-field(type='text', placeholder='Email')
                        // <span data-placeholder="Username"></span>
                    .form__item
                        input.input-field(type='password', placeholder='Password')
                        // <span data-placeholder="Password"></span>
                    .form__item
                        button.btn.btn--hov Continue
                // FORM
            .modal__footer
                h3.modal__footer-text
                    | Don't have account?
                    a.link-default(href='#') Sign up
