mixin footer
    // FOOTER
    footer.footer
        .section-inner
            .items-wrapper.footer-items-wrapper
                a.footer-logo(href="./index.html")
                    .footer-logo__text Restaurant concept
                ul.social
                    li.social__item
                        a.social__item-link(href="#")
                            i.fab.fa-instagram
                    li.social__item
                        a.social__item-link(href="#")
                            i.fab.fa-twitter
                    li.social__item
                        a.social__item-link(href="#")
                            i.fab.fa-facebook
