mixin header
    // HEADER
    header.header
        .section-inner
            .items-wrapper.header-items-wrapper
                ul.nav
                    li
                        a.nav__item(href='./index.html')
                            | Home
                            span.link-spacer
                                | Home
                    li
                        a.nav__item(href='./products.html')
                            | Products
                            span.link-spacer
                                | Products
                    li
                        a.nav__item(href='./about.html')
                            | About
                            span.link-spacer
                                | About
                .logo
                    a.logo__text.c-default(href='./index.html')
                        .logo__text-line Restaurant
                        .logo__text-line concept
                .bar
                    #auth.bar__auth
                        button#signInBtn.btn.btn--secondary
                            | Sign in
                        button#signUpBtn.btn.btn--primary.btn--ml
                            | Create account
                    #userNav.bar__usernav
                        a#userNavBtn.bar__usernav-btn(href='#userId')
                            .bar__usernav-btn-avatar
                                span#userLetter.user-letter
                                img#userPicture.user-photo
                            #userName.bar__usernav-btn-name
                                | test
                        .dropdown-menu
                            ul.dropdown-menu__list
                                li.dropdown-menu__item
                                    span.ico-wrapper
                                        i.fas.fa-user
                                    a.dropdown-menu__link(href="#")
                                        | Profile
                                li.dropdown-menu__item
                                    span.ico-wrapper
                                        i.fas.fa-star
                                    a.dropdown-menu__link(href="#")
                                        | Reservation
                                li.dropdown-menu__item
                                    span.ico-wrapper
                                        i.fas.fa-heart
                                    a.dropdown-menu__link(href="#")
                                        | Likes
                                li#signOutBtn.dropdown-menu__item
                                    span.ico-wrapper
                                        i.fas.fa-sign-out-alt
                                    a.dropdown-menu__link(href="#")
                                        | Sign out
                    .bar__helpers
                        button#searchBtn.btn-icon
                            i.fas.fa-search
                        button.btn-icon.btn--ml
                            i.fas.fa-ellipsis-h
