mixin search-bar
    // SEARCH-BAR
    .search-bar
        .section-inner
            .items-wrapper
                .search-bar__item
                    i.fas.fa-search.ico-m
                    input.input-field-m(type='text', placeholder='Search...')
                .search-bar__item
                    button.btn-icon.btn-icon--mod
                        i.fas.fa-times