.section-one {
    // position: relative;
    min-height: 100vh;
    background: linear-gradient(240deg, #834d4d, #503d3d);
}

.section-two {
    min-height: 100vh;
    background-color: rgb(230, 203, 203);
}