// ==== MODAL ==== //
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 400px;
  height: 550px;
  background-color: $default-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px;
  opacity: 0;
  transition: all 0.3s ease;
  &-open {
    //top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &__header {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-title {
      text-transform: uppercase;
      letter-spacing: $customLetterSpacing;
      font-size: 32px;
      font-weight: 500;
      color: $neutral-primary;
    }
  }
  &__body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__footer {
    width: 100%;
    margin: 40px 0px;
    text-align: center;
    &-text {
      font-size: 14px;
    }
  }
}

// ==== MODAL FORM ==== //
.form {
  width: 100%;
  &__item {
    margin-bottom: 20px;
  }
}
