extends ../layouts/main

block variables
    - var title = "About"

block content
    // MAIN SECTION
    main.about
        section.about-content
            .section-inner
                #content.items-wrapper
