extends ../layouts/main

block variables
    - var title = "Home"

block content
    // MAIN SECTION
    main.home
        section.home-content
            .section-inner
                #content.items-wrapper.content-wrapper
        .section-vh
