extends ../layouts/main

block variables
    - var title = "Home"

block content
    section.section-top
        .section-inner
            .items-wrapper.section-top-wrapper
    section.section-bottom
        .section-inner
            .items-wrapper.section-bottom-wrapper
                .item
                .item
                .item
                .item
                .item
                .item
