extends ../layouts/main

block variables
    - var title = "Home"

block content
    // MAIN SECTION
    main.home
        section.section-aboutus
            .section-inner
                .section-aboutus__wrapper
                    .section-aboutus__info
                        h2.section-aboutus__info-title About us
                        .section-aboutus__info-text
                            | We offer raw, enzyme rich, cold pressed juices,
                            | nutrient dense organic salads, medicinal herbalism and much more.
                            | Our food is designed to provide optimal nourishment to build and
                            | repair your bones, skin, hair, and    mind.
                    .section-aboutus__panel
                        .section-aboutus__panel-photo.tall
                            img.panel-pic(src="/assets/img/aboutus/pic-promo-01.jpg", alt="promo")
                        .section-aboutus__panel-photo
                            img.panel-pic(src="/assets/img/aboutus/pic-promo-02.jpg", alt="promo")
                        .section-aboutus__panel-photo
                        .section-aboutus__panel-photo
                        .section-aboutus__panel-photo
                            img.panel-pic(src="/assets/img/aboutus/pic-promo-03.jpg", alt="promo")
        section.section-banner
