extends ../layouts/main

block variables
    - var title = "Home"

block content
    section.section
        .section-inner
            h1 Home Page
    section.section
        .section-inner
            h1 Home Page
