extends ../layouts/main


block variables
    - var title = "Products"

block content
    // MAIN SECTION
    main.products
        section.products-content
            .section-inner
                #content.items-wrapper
