// ======== VARIABLES ======== //

// ---- FONT ----
$main-font: "Poppins", sans-serif;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;
$customLetterSpacing: 0.2em;

// ---- BREAKPOINTS ----
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// ---- COLORS ----
$main-color: #101010;
$space-color: #111111;
$deep-color: #000000;
$default-color: #ffffff;
$light-color: #999999;

$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$purple-color: #8854d0;
$action-color: #f50;

// Neutral Color
$neutral-main: #333333;
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
