.products {
    background-color: $space-color;
}

.section-products {
    position: relative;
    padding: 80px 0px;
    min-height: 100vh;

    &__wrapper {
        padding: 0px 40px;
    }

    &__container {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 120px;
    }
}