extends ../../../pug/layouts/main

block variables
    - var title = "Products"

block content
    // MAIN SECTION
    main#products.products
        section.section-products
            include ../../components/sidebar/sidebar
            .section-inner
                #productsWrapper.section-products__wrapper
                    .section-products__header
                        h1.page-title Our menu
                    #productsContainer.section-products__container
                    // close .section-products__container
                    #productsPagination.pagination.pagination--products
                        #prodPagWrapper.pagination__wrapper
                    // close .pagination--products
            // close .section-products__wrapper
        // close .section-products
    // close .products