extends ../../../pug/layouts/main

block variables
    - var title = "Products"

block content
    // MAIN SECTION
    main.products
        section.section-products
            include ../../components/sidebar/sidebar
            .section-inner
                .section-products__wrapper
