.products {
    background-color: $space-color;
    overflow: hidden;
}

.section-products {
    position: relative;
    padding: 80px 0px;
    // min-height: 100vh;

    &__wrapper {
        padding: 0px 40px;
        transform: translateX(0);
        transition: transform .2s ease-in-out;
        min-height: 100vh;
        &.active {
            transform: translateX(25%);
        }
    }

    &__container {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 120px;
        padding-bottom: 120px;
        opacity: 1;
        transform: translateX(0);
        transition: all .3s cubic-bezier(.8,.2,.24,.88);

        &.active {
            opacity: 0;
            transform: translateX(20%);
        }

        &.activeL {
            opacity: 0;
            transform: translateX(-20%);
        }
    }
}