.product
    .product__overlay
        button.btn-default.btn-default--col
            i.fas.fa-heart(data-trigger='like')
        button.btn-default.btn-default--col
            i.fas.fa-ellipsis-v(data-trigger='description')
    // close .product__overlay
    .product__image-wrapper
        img.product-image(src='/assets/img/aboutus/pic-promo-03.jpg', alt='meal')
    // close .product__image-wrapper
    .product__info
        .product__info-header
            span.title Pizza
            span.price $9
        .product__info-meta
            p 300g
    // close .product__info
    .product__description
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, molestiae. Impedit harum iste architecto officiis vero exercitationem esse beatae alias? Aut vel, saepe hic nesciunt harum amet cum tempora sequi?
    // close .product__description
// close .product