.product {
    position: relative;
    background-color: $default-color;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $default-color;
        padding: 25px;
        z-index: 5;
    }
    &__image-wrapper {
        width: 100%;
        height: 275px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .25);
            z-index: 1;
        }
        &:hover > .product-image {
            transform: scale(1.2);
        }
    }
    &__info {
        padding: 25px;
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-meta {
            font-size: 14px;
            color: $neutral-regular;
        }
    }
    &__description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px 25px;
        background-color: $border-base;
        font-size: 16px;
        font-weight: 300;
        opacity: 0;
        z-index: 4;
        clip-path: circle(0% at 100% 0%);
        transition: all .40s cubic-bezier(.8,.2,.24,.88);
    }
    .product__description.active {
        clip-path: circle(150% at 100% 0%);
        opacity: 1;
    }
}

.ico-heart {
    color: $default-color;
    pointer-events: all;

    &.red {
        color: $action-color;
        pointer-events: none;
    }
    &.disabled {
        pointer-events: none;
    }
}

.like-count {
    font-size: 14px;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s linear;
}

.title {
    text-transform: uppercase;
    font-weight: 300;
}

.price {
    background-color: $action-color;
    color: $default-color;
    padding: 2px 15px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
}