.home {
    background-color: $space-color;
    overflow: hidden;
}
.section-aboutus {
    padding: 150px 0px;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__info {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        &-title {
            color: $default-color;
            font-size: 42px;
            font-weight: 700;
            line-height: 1;
        }
        &-text {
            color: $default-color;
            font-size: 21px;
            grid-column: span 2;
            text-align: justify;
        }
    }
    &__panel {
        margin-top: 75px;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 30px;
        &-photo {
            width: 100%;
            height: 100%;
            background-color: $neutral-placeholder;
            &.tall {
                grid-row: span 2;
            }
        }
        &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 50px;
            text-align: justify;
            background: transparent;
            color: $default-color;
            font-size: 21px;
            font-weight: 300;
        }
    }
}
.panel-right,
.panel-left {
    transition: all .40s cubic-bezier(.8,.2,.24,.88);
}
.panel-right {
    transform: translateX(50%);
    opacity: 0;
}
.panel-left {
    transform: translateX(-50%);
    opacity: 0;
}
.panel-pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.block__title {
    align-self: flex-start;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 600;
}
.section-banner {
    height: 100vh;
    background-image: url('/assets/img/backgrounds/background-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &__subscribe {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 30%;
        padding: 80px 0px;
        transition: opacity .40s cubic-bezier(.8,.2,.24,.88);
        opacity: 0;

        &-title {
            color: $default-color;
            font-size: 28px;
        }
    }
}
.subscribe-form {
    width: 100%;
    &__item {
        margin-top: 20px;
    }
}
.appear {
    transform: translateX(0);
    opacity: 1;
}