//- .overlay
#sidebar.sidebar
    .sidebar__header
        span Categories
    // close .sidebar__header
    nav.sidebar__navigation
        ul.sidebar__navigationlist
            li.sidebar__navigationlist-item
                div.sidebar__navigationlist-trigger(data-trigger='collapse') Food
                    span.collapsible-plus
                ul.collapsible-list
                    li.collapsible-list__item
                        span Pasta
                    li.collapsible-list__item
                        span Salad
                    li.collapsible-list__item
                        span Sandwich
                    li.collapsible-list__item
                        span Soup
            // close .sidebar__navigationlist-item
            li.sidebar__navigationlist-item
                div.sidebar__navigationlist-trigger(data-trigger='collapse') Drink
                    span.collapsible-plus
                ul.collapsible-list
                    li.collapsible-list__item
                        span Tea
                    li.collapsible-list__item
                        span Coffee
                    li.collapsible-list__item
                        span Cacao
                    li.collapsible-list__item
                        span Juice
            // close .sidebar__navigationlist-item
        .sidebar__toggler(data-trigger='sidebar')
            button.btn-icon
                i.fas.fa-bars(data-trigger='sidebar')
    // close .sidebar__navigation
    .sidebar__footer
        a.link-default.link-default--mod(href="#products") Scroll top
    // close .sidebar__footer
// close .sidebar