include ../includes/header
include ../includes/footer
include ../includes/signin_modal
include ../includes/search

block variables

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title #{title}
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='stylesheet', href='/assets/fonts/font-awesome/css/all.min.css')
    body
        + header

        + signin

        + search

        block content

        + footer

        //- update the version number as needed
        script(src='https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js')
        //- include only the Firebase features as you need
        script(src='https://www.gstatic.com/firebasejs/7.10.0/firebase-auth.js')
        script(src='https://www.gstatic.com/firebasejs/7.10.0/firebase-firestore.js')
