mixin search
    // SEARCH-BAR
    .search-bar
        .section-inner
            .items-wrapper
                .search-bar__item
                    i.fas.fa-search.ico-m
                    input.input-field-m(
                        type='text', 
                        placeholder='Search...'
                    )
                .search-bar__item
                    button.btn-default
                        svg.icon(viewbox='0 0 16 14')
                            path(
                                d='M15 0L1 14m14 0L1 0', stroke='currentColor', fill='none', fill-rule='evenodd'
                            )